@tailwind base;
@tailwind components;
@tailwind utilities;
.react-multiple-carousel__arrow{
    background-color: transparent !important;
    border: 2px solid gray !important;
    display: none !important;
    
}
.react-multiple-carousel__arrow::before{
  
    display: none !important;

}
.react-multiple-carousel__arrow--left {
 
    display: none !important;
}
.react-multiple-carousel__arrow--right {
  
    display: none !important;

}
.hoverShadow:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}